thumbor==5.0.4
https://github.com/thumbor-community/aws/tarball/56fa0bf9b1158bcdc8dabca9e56a6f24e840d03d

Pillow==2.9.0
backports.ssl-match-hostname==3.4.0.2
certifi==2015.04.28
derpconf==0.7.3
futures==3.0.3
libthumbor==1.1.0
pexif==0.15
pycrypto==2.6.1
pycurl==7.19.5.1
python-magic==0.4.6
six==1.9.0
statsd==3.1
tornado==4.2

boto==2.38.0
python-dateutil==2.4.2
